<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationConfiguration">
      <section name="directories" type="System.Configuration.NameValueSectionHandler"/>
      <section name="boms" type="ProcessTrackerBOMFormat.Configuration.ConfigurationSectionBoms,ProcessTrackerBOMFormat"/>
    </sectionGroup>
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <applicationConfiguration>
    <directories>
      <add key="rootDirectory" value="\\hme002\hdrive\DATA\MFG\PCA\Panasonic WIP\ElijahS\BOM Import Script\"/>
      <add key="inputFolder" value="input\"/>
      <add key="outputFolder" value="output\"/>
      <add key="logFolder" value="logs\"/>
      <add key="oldInputFolder" value="input\old\"/>
    </directories>

    <boms outputType="INDIVIDUAL">
      <bom name="dynamicsAX" displayName="AX" enabled="True">
        <fields>
          <field name="partNumber" header="Item Number" output="Part Number"  required="True"
                 order="1"/>
          <field name="referenceDesignator" header="Reference Designator"
                 output="Reference Designator" override="True" required="True"
                 order="2">
            <populations>
              <population name="partType"
                        condition="EQUALS"
                        findValue="1"
                        setValue="PCB"
                        toColumn="partType"
                        active="True"/>
            </populations>
          </field>
          <field name="position" header="Position" required="True"
                 order="2">
            <populations>
              <population name="partType"
                        condition="EQUALS"
                        findValue="1"
                        setValue="PCB"
                        toColumn="partType"
                        active="True"/>
            </populations>
          </field>
          <field name="quantity" header="Quantity" required="True" 
                 order="3" />
          <field name="partType" header="Item Type" output="Item Type" 
                 order="4"/>
        </fields>
      </bom>
      <bom name="agile" displayName="Agile" enabled="False">
        <fields>
          <field name="partNumber" header="Item Number" output="Part number" order="1" required="True"/>
          <field name="referenceDesignator" header="Reference Designator" output="Reference Designator" order="2" override="True" required="True"/>
          <field name="position" header="Position" order="2" required="True"/>
          <field name="quantity" header="Quantity" output="Quantity" order="3" required="True"/>
          <field name="partType" header="Item Type" output="Item Type" order="4"/>
        </fields>
      </bom>
    </boms>

  </applicationConfiguration>
  
</configuration>