<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationConfiguration">
      <section name="directories" type="System.Configuration.NameValueSectionHandler"/>
      <section name="outputType" type="System.Configuration.SingleTagSectionHandler"/>
      <section name="boms" type="ProcessTrackerBOMFormat.Configurations.CustomConfigBomSection, ConfigurationElementCollection"/>
    </sectionGroup>
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <applicationConfiguration>

    <directories>
      <add key="rootDirectory" value="\\hme002\hdrive\DATA\MFG\PCA\Panasonic WIP\ElijahS\BOM Import Script\"/>
      <add key="inputFolder" value="input\"/>
      <add key="outputFolder" value="output\"/>
      <add key="logFolder" value="logs\"/>
      <add key="oldInputFolder" value="input\old\"/>
    </directories>

    <outputType name="rdLineConfig">individual</outputType>
    <!--<outputType name="rdLineConfig">compact</outputType>-->

    <boms>
      <bom name="dynamicsAx" enabled="True">
        <uniqueKey whereLook="A1" valueFind="Test"/>
        <fields>
          <field name="partNumber" header="Item Number" output="Part Number" order="1"/>
          <field name="referenceDesignator" header="Reference Designator" output="Reference Designator" order="2" override="True"/>
          <field name="position" header="Position" order="2"/>
          <field name="quantity" header="Quantity" output="Quantity" order="3"/>
          <field name="partType" header="Item Type" output="Item Type" order="4"/>
        </fields>
      </bom>
      <bom name="agile" enabled="False">
        <uniqueKey whereLook="A1" valueFind="Test"/>
        <fields>
          <field name="partNumber" header="Item Number" output="Part number" order="1"/>
          <field name="referenceDesignator" header="Reference Designator" output="Reference Designator" order="2" override="True"/>
          <field name="position" header="Position" order="2"/>
          <field name="quantity" header="Quantity" output="Quantity" order="3"/>
          <field name="partType" header="Item Type" output="Item Type" order="4"/>
        </fields>
      </bom>
    </boms>
  </applicationConfiguration>
  
</configuration>