<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <configSections>
    <section name="directories" type="System.Configuration.NameValueSectionHandler"/>

    <sectionGroup name="ExcelFields">
      <sectionGroup name="AX">
        <section name="setting" type="System.Configuration.NameValueSectionHandler"/>
        <section name="field" type="System.Configuration.SingleTagSectionHandler"/>
      </sectionGroup>
      <sectionGroup name="Agile">
        <section name="setting" type="System.Configuration.NameValueSectionHandler"/>
        <section name="field" type="System.Configuration.SingleTagSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <directories>
    <add key="rootDirectory" value="\\hme002\hdrive\DATA\MFG\PCA\Panasonic WIP\ElijahS\BOM Import Script\"/>
    <add key="inputFolder" value="input\"/>
    <add key="outputFolder" value="output\"/>
    <add key="logFolder" value="logs\"/>
    <add key="oldInputFolder" value="input\old\"/>
  </directories>

  <ExcelFields>
    <AX>
      <setting>
        <add key="use" value="True"/>
        <add key="whereLook" value="A1"/>
        <add key="valueFind" value=""/>
      </setting>
      
      <field name="partNumber" lookFor="Item Number" orderNumber="1"/>
      <field name="referenceDesignator" lookFor="Reference Designator" orderNumber="2"/>
      <field name="position" lookFor="Position" orderNumber="2"/>
      <field name="quantity" lookFor="Quantity" orderNumber="3"/>
      <field name="partType" lookFor="Item Type" orderNumber="4"/>
    </AX>
    <Agile>
      <setting>
        <add key="use" value="True"/>
        <add key="whereLook" value="A1"/>
        <add key="valueFind" value=""/>
      </setting>
      
      <field name="partNumber" lookFor="" orderNumber="1"/>
      <field name="referenceDesignator" lookFor="" orderNumber="2"/>
      <field name="position" lookFor="" orderNumber="2"/>
      <field name="quantity" lookFor="" orderNumber="3"/>
      <field name="partType" lookFor="" orderNumber="4"/>
    </Agile>
  </ExcelFields>
  
</configuration>